<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success" ng-click="create()">Create Question</button>
        </div>
    </div>

    <div class="row" style="margin-top: 2em;">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <!--th>UUID</th-->
                            <th>Question</th>
                            <th>Answer A</th>
                            <th>Answer B</th>
                            <th>Answer C</th>
                            <th>Answer D</th>
                            <th>Correct Answer</th>
                            <th>Coordinates</th>
                            <th>Edit</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-if="questions.length == 0">
                            <td colspan="8">Loading...</td>
                        </tr>
                        <tr ng-repeat="question in questions | orderBy:'question' ">
                            <!--td><samp>{{ question.questionId }}</samp></td-->
                            <td>{{ question.question }}</td>
                            <td>{{ question.answerA }}</td>
                            <td>{{ question.answerB }}</td>
                            <td>{{ question.answerC }}</td>
                            <td>{{ question.answerD }}</td>
                            <td>{{ question.correctAnswer | numToChar }}</td>
                            <td>{{ question.pos | coordinates }}</td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="edit(question.questionId)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>